.navbar{
    background-color: #F9BC35;
    padding: 1rem;
    border-radius: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    color: #007bff;
}

.nav-link:hover {
    text-decoration: underline;
}

.active {
    font-weight: bold;
    color: #0056b3;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #F9BC35;
  text-align: center;
  padding: 1rem;
  z-index: 100;
  border-radius: 10px;
}